.messages{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    flex:1 ;
    opacity: 0.8;

    .title{
        line-height: 40px;
        border-bottom: 1px solid darkred;
        padding-left: 10px;
        font-weight: bold;
    }

    .list{
        flex: 1;
        box-sizing: content-box;
        overflow: hidden;
        padding: 4px;

        &:hover{
            overflow-y: auto;
        }

        ul{
            padding: 0;
            margin: 0;
        }
    }

    .list::-webkit-scrollbar,
    div[data-slate-editor="true"]::-webkit-scrollbar {
      width: 10px;
      background-color: lightblue;
    }
    
    .list::-webkit-scrollbar-thumb,
    div[data-slate-editor="true"]::-webkit-scrollbar-thumb {
      height: 56px;
      border-radius: 8px;
      border: 1px solid transparent;
      background-clip: content-box;
      background-color: black;
    }

    .editor{
        height:200px;
        display: flex;
        flex-direction: column;
        background-color: white;

        div[data-slate-editor="true"]{
            flex: 1;
            overflow: auto;
        }
    }
}