.message{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 6px;
    overflow: hidden;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
        background-color: whitesmoke;
    }
    
    .avatar{
        img{
            object-fit: cover;
            width: 28px;
        }
    }

    .data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 1;

        .actor{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .name{
                flex: 1;
            }

            .last-date{
                width: 100px;
            }

            .last-date, 
            .name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .last-message{
            flex: 1;
        }

        .last-date,
        .last-message{
            font-size: 0.8em;
        }
    }
}

.selected{
    background-color: white;
}