.chats{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: floralwhite;
    box-shadow: -5px 0px 5px -5px darkgray inset;

    .title{
        line-height: 40px;
        border-bottom: 1px solid lightgray;
        padding-left: 10px;
        font-weight: bold;
    }

    .list{
        flex: 1;
        box-sizing: content-box;
        overflow: hidden;
        padding: 4px;
        padding-right: 14px;

        &:hover{
            overflow-y: auto;
            padding-right: 4px;
        }

        ul{
            padding: 0;
            margin: 0;
        }
    }

    .list::-webkit-scrollbar {
      width: 10px;
      background-color: rgb(240, 236, 227);
    }
    
    .list::-webkit-scrollbar-thumb {
      height: 56px;
      border-radius: 8px;
      border: 1px solid transparent;
      background-clip: content-box;
      background-color: darkgray;
    }
}